<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
<script src="https://kit.fontawesome.com/4aca494ef1.js"></script>
<header class="index-header">
  <div>
      <h1>Inova</h1>
  </div>
  <div>
      <a class="button is-small is-primary" href="/users/new">create user</a>
  </div>
</header>
<div class="container">
    <%users.forEach(user => {%>
      
        <a class= 'user' href="/users/<%=user._id%>">
          <div class="user-container">
          <span class="index-name">
            <%=user.name%>
          </span>

          <span class="index-total">
            <i class="fas fa-rupee-sign symbol"></i>
            <%=user.total%>
          </span>
        </div>
        </a>
      </div>
    <%})%>
</div>


