body{
  color:#fff;
  background-color: gray; 
}
.index-header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: orange;
}
.s_user_header{
  display:flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: orange;
}
.form-header{
  margin-bottom: 1rem;
}
.container{
  padding: 0 1rem;
}

.input{
  margin-bottom: 1rem; 
}
.dropdown{
  margin-top: .5rem;  
  margin-bottom: 1rem;
  border-radius: 5px;
}
.user-container{
  display: flex;
  justify-content: space-between;
  background-color: black;
  margin: .5rem 0;
  padding: .5rem 1rem;
}
.name-tile{
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.product-names{
  display: flex;
  justify-content: space-between;
}
.name-time{
  display: flex;
  flex-direction: column;
}
.amount-mode{
  display: flex;
  flex-direction: column;
}
.amount{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}